<%- include('../partials/adminHeader') %>
    
<div class="container mx-auto row">
  <div class="col-lg-6 mx-auto mb-4 px-2">

    
    <h3 class="fw-bold text-center my-3">ADD Product</h3>
      <p class="text-danger mt-0">
        <%= locals.error %>
      </p>
      <p class="text-success mt-0">
        <%= locals.message %>
      </p>
      <form action="" method="post" enctype="multipart/form-data">
        <!-- userName -->
        <div class="form-outline">

          <label class="form-label" for="userName">Product Name</label>
          <input type="text" id="name" name="name" class="form-control" required />
          
        </div>

        <!-- Email input -->
        <div class="form-outline">
          <label for="file-upload" class="form-label">Images to upload</label>
          <input class="form-control" type="file" name="image" multiple accept="image/png, image/gif, image/jpeg, image/svg, image/webp">

        </div>

        <div class="form-outline">

          <label class="form-label" for="modelno">Model</label>
          <input type="text" id="name" name="model" class="form-control" required />
          
        </div>

        <div class="form-outline">

          <label class="form-label" for="category">Category</label>


          <select id="inputState" class="form-control" name="category">
            <option selected>Choose category</option>
            <%categories.forEach((data)=>{%>
              <option value="<%=data._id%>">
                <%=data.name%>
              </option>
              <%})%>
          </select>


          
        </div>

        <div class="form-outline">

          <label class="form-label" for="description">Color</label>
          <input type="text" id="color" name="color" class="form-control" required />
        </div>

        <div class="form-outline">

          <label class="form-label" for="category">Price</label>
          <input type="text" id="price" name="price" class="form-control" required />
        </div>

        <div class="form-outline">

          <label class="form-label" for="stock">Stock</label>
          <input type="number" id="stock" name="stock" class="form-control" required />
          
        </div>

        <div class="form-outline">

          <label class="form-label" for="stock">Description</label>
          <input type="text" id="stock" name="description" class="form-control" required />
          
        </div>

        <p id="emailError" class="text-danger mt-3"></p>

        <!-- Password input -->

        <!-- Submit button -->
        <input type="submit" value="Upload" class="btn upload-btn btn-primary btn-lg btn-block mb-4 py-1" />
      </form>

  </div>

</div>




    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


    <script src="/public/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/public/js/datatables-simple-demo.js"></script>
</body>

</html>