<%- include('../partials/adminHeader') %>

    <div class="d-flex justify-content-between p-3">
        <h2 class="py-1">Products</h2>
        <a href="/admin/add-product"><button class="btn btn-dark ">Add Product</button></a>

    </div>

    <div class="card mb-4 px-2">

        <div class="card-body">
            <% if(details !=null) { %>
                <table id="datatablesSimple">
                    <thead>
                        <tr class="border">
                            <th> Product Name</th>
                            <th>Image</th>
                            <th>Model</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Color</th>
                            <th>Stock</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    
                    <tbody>
                        <% details.forEach(function(item){ %>
                            <tr class="border">
                                <td class="border">
                                    <%= item.name %>
                                </td>
                                <td class="border">
                                    <% for(i=0;i<6; i++) {%>
                                        <img class="img-thumbnail" src="/public/databaseimg/<%= item.image[i]%>" alt=""
                                            srcset="" height="100px" width="75px">
                                        <%}%>
                                </td>

                                <td class="border">
                                    <%= item.model%>
                                </td>

                                <td class="border">
                                    <%= item.category.name %>
                                </td>

                                <td class="border">
                                    <%= item.description %>
                                </td>
                                <td>
                                    <%= item.color %>
                                </td>

                                <td class="border">
                                    <%= item.stock %>
                                </td>

                                <td class="border">
                                    <%= item.price%>
                                </td>

                                <td class="border">
                                    <% if (item.status==true) { %>
                                        <%= locals.stat %>
                                            <%} else { %>
                                                <%= locals.unStat %>
                                                    <% } %>
                                </td>

                                <td class="border">
                                    <a href="/admin/<% if (item.status==true) { %><%= locals.blockRef %><%} else { %><%= locals.unblockRef %><% } %>/?id=<%= item._id%>"
                                        onclick="return confirm('Are you sure?')" class="btn btn-dark btn-sm">
                                        <% if (item.status==true) { %>
                                            <%= locals.blocking %>
                                                <%} else { %>
                                                    <%= locals.unBlock %>
                                                        <% } %>
                                    </a>
                                </td>
                                <td class="border">

                                    <a class="btn btn-dark btn-sm" href="/admin/edit-product/?id=<%= item._id%>">
                                        Edit
                                    </a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>

                </table>
                <% } %>
        </div>

    </div>
    </div>




    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


    <script src="/public/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/public/js/datatables-simple-demo.js"></script>
</body>

</html>