<%- include('../partials/adminHeader') %>

    <div class="d-flex justify-content-between p-3">
        <h2>Banner</h2>
        <span>
            <a href="/admin/add-banner"><button class="btn btn-dark">Add Banner</button></a>
        </span>

    </div>

    <div class="card mb-4 px-2">

        <div class="card-body table-responsive">
            <% if(details !=null) { %>
                <table id="example" class="table table-bordered table-striped ">

                    <thead>
                        <tr>

                            <th>*</th>
                            <th>Image</th>
                            <th>Status</th>
                            <th></th>


                        </tr>
                    </thead>
                    <tfoot>
                       
                    </tfoot>
                    <tbody>
                        <% details.forEach(function(item,i){ %>
                            <tr>
                                <td>
                                    <%= i+1 %>
                                </td>
                                <td>
                                    <img class="img-thumbnail" src="<%= item.image%>" alt="" srcset="" height="200px"
                                        width="150px">
                                </td>

                                <td>
                                    <% if (item.status==true) { %>
                                        <%= locals.stat %>
                                            <%} else { %>
                                                <%= locals.unStat %>
                                                    <% } %>
                                </td>

                                <td>
                                    <a href="/admin/<% if (item.status==true) { %><%= locals.blockRef %><%} else { %><%= locals.unblockRef %><% } %>/?id=<%= item._id%>"
                                        onclick="return confirm('Are you sure?')" class="btn btn-dark btn-sm">
                                        <% if (item.status==true) { %>
                                            <%= locals.blocking %>
                                                <%} else { %>
                                                    <%= locals.unBlock %>
                                                        <% } %>
                                    </a>
                                </td>

                            </tr>
                            <% }) %>
                    </tbody>

                </table>
                <% } %>
        </div>

    </div>
    </div>

    <script>
        $(document).ready(function () {
          var table = $('#example').DataTable({
            rowReorder: {
              selector: 'td:nth-child(2)'
            },
            responsive: true
          });
        });
      </script>
  




    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

   
    </body>

    </html>