<%- include('../partials/adminHeader') %>

    <div class="d-flex justify-content-between p-3">
        <h2>Coupons</h2>
        <span>
            <a href="/admin/add-coupon"><button class="btn btn-dark">Add Coupon</button></a>
        </span>
    </div>

    <div class="card mb-4 px-2">

        <div class="card-body table-responsive">
            <% if(details !=null) { %>
                <table class="table table-striped table-bordered" id="example">
                    <thead>
                        <tr>
                            <th> Coupon Name</th>

                            
                            <th>Coupon code</th>
                            <th>Minimun Amount</th>
                            <th>Maximum Amount</th>
                            <th>Expiration Time</th>
                            <th>Created at</th>
                            <th>Updated At</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th> Coupon Name</th>

                            
                            <th>Coupon code</th>
                            <th>Minimun Amount</th>
                            <th>Maximum Amount</th>
                            <th>Expiration Time</th>
                            <th>Created at</th>
                            <th>Updated At</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <% details.forEach(function(item){ %>
                            <tr>
                                <td>
                                    <%= item.name %>
                                </td>

                                <td>
                                    <%= item.discount %>
                                </td>

                                <td>
                                    <%= item.originalPrice %>
                                </td>
                                <td>
                                    <%= item.finalPrice %>
                                </td>

                                <td>
                                    <%= item.expirationTime %>
                                </td>
                                <td>
                                    <%= item.createdAt %>
                                </td>

                                <td>
                                    <%= item.updatedAt %>
                                </td>

                                <td>
                                    <% if (item.status==true) { %><%= locals.stat %><%} else { %><%= locals.unStat %><% } %>
                                </td>

                               

                                
                                <td>
                                    <a class="btn btn-dark btn-sm" href="/admin/<% if (item.status==true) { %><%= locals.blockRef %><%} else { %><%= locals.unblockRef %><% } %>/?id=<%= item._id%>" onclick="return confirm('Are you sure?')">
                                        <% if (item.status==true) { %><%= locals.blocking %><%} else { %><%= locals.unBlock %><% } %>
                                      </a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>

                </table>
                <% } %>
        </div>

    </div>
    </div>




    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
   <script>
    $(document).ready(function () {
      var table = $('#example').DataTable({
        rowReorder: {
          selector: 'td:nth-child(2)'
        },
        responsive: true
      });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>