<%- include('../partials/adminHeader') %>

    <div class="d-flex justify-content-between p-3">
        <h2 class="py-1">Orders</h2>


    </div>

    <div class="card mb-4 px-2">

        <div  class="card-body table-responsive">
            <% if(details !=null) { %>
                <table id="example" class="table table-bordered table-striped ">
                    <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>User</th>
                            <th>Product</th>
                            <th>Coupons</th>
                            <th>Coupon Discount</th>
                            <th>Total Payment</th>
                            <th>Order Type</th>
                            <th>Status</th>
                            <th></th>


                        </tr>
                    </thead>
                   
                    <tbody>
                        <% details.forEach(function(item){ %>
                            <tr>
                                <td>
                                    <%= item._id %>
                                </td>
                                <td>
                                    <%= item.customer.fname %>
                                </td>
                                <td>
                                    <%item.product.forEach(function(items){ %>
                                        <%= items.productId.name %> X <%= items.qtyItems %>
                                                <%})%>
                                </td>
                                <td>
                                    <%= item.coupon %>
                                </td>
                                <td>
                                    <%= item.discount %>

                                </td>
                                <td>
                                    <%= item.finalPrice %>
                                </td>
                                <td>
                                    <%= item.orderType %>
                                </td>
                                <td>
                                    <div id="statis<%= item._id %>">
                                        <% if (item.status=="placed" ) { %>
                                            Order Placed
                                            <%} else { %>
                                                <%= item.status %>
                                                    <% } %>
                                    </div>
                                </td>



                                <td>
                                    <select name="changeStat" onchange="changeStat(this.value,'<%= item._id %>')">
                                        <% if(item.status!="cancelled" ){ %>
                                            <option value="" selected>Choose</option>
                                            <option value="shipped">Shipped</option>
                                            <option value="delivered">Delivered</option>
                                            <option value="pending">Pending</option>
                                            <%}%>


                                    </select>



                                </td>

                            </tr>
                            <% }) %>
                    </tbody>

                </table>
                <% } %>
        </div>

    </div>
    </div>



    <script>

        function changeStat(stu, id) {
            console.log('janjfo');
            $.ajax({
                url: "/admin/change-stat",
                method: "patch",
                data: { id: id, stu: stu },
                success: (res) => {
                    $(`#statis${id}`).load(location.href + ` #statis${id}`)
                    


                }

            })
        }

    </script>



<script>
    $(document).ready(function () {
      var table = $('#example').DataTable({
        rowReorder: {
          selector: 'td:nth-child(2)'
        },
        responsive: true
      });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
   
    </html>