<%- include('../layouts/header') %>

<div class="container bg-white rounded-top mt-5" id="zero-pad">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-10 col-12 pt-3">
            <% var subtotal = 0 %>

            <% if(cartList!=null) {%>
            <div class="d-flex flex-column pt-4">
                <div><h5 class="text-uppercase font-weight-normal">Shopping cart</h5></div>
                <div class="font-weight-normal"><%= cartList.length%></div>
            </div>
            

            <% cartList.products.forEach(function(items){ %>

            <div class="d-flex flex-row justify-content-between align-items-center pt-lg-4 pt-2 pb-3 border-bottom mobile">
                <div class="d-flex flex-row align-items-center">
                    <div><img src="/public/databaseimg/<%=items.productId.image[0]%>" width="150" height="150" alt="" id="image"></div>
                    <div class="d-flex flex-column pl-md-3 pl-1">
                        <div><h6><%=items.productId.name%></h6></div>
                        
                    </div>                    
                </div>
                <div class="pl-md-0 pl-1"><b>₹<%=items.productId.price%></b></div>
                <div class="pl-md-0 pl-2">
                    <a href="/remove-cart/?id=<%=items.productId._id%>"><span class="fa fa-minus-square text-secondary"></span></a><span class="px-md-3 px-1"><%=items.quantity%></span><a href="/inc-queue/?id=<%=items.productId._id%>"><span class="fa fa-plus-square text-secondary"></span></a>
                </div>
                
               <% var addedNumber = items.productId.price * items.quantity;%>
               
                <div class="pl-md-0 pl-1">₹<%= addedNumber %><b></b></div>
                <div class="close"><a href="/delete-cart/?id=<%=items.productId._id%>">&times;</a></div>
                <% subtotal += addedNumber %>

            </div>
           <%})%>
            <%}%>
            

        </div>
    </div>
</div>
<div class="container bg-light rounded-bottom py-4" id="zero-pad">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-10 col-12">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <a href="/shop"><button class="btn btn-sm bg-light border border-dark">Continue shopping</button></a>
                </div>
                <div class="px-md-0 px-1" id="footer-font">
                    <b class="pl-md-4">SUBTOTAL<span class="pl-md-4">₹<%=subtotal%></span></b>
                </div>
                <div>
                    <button class="btn btn-sm bg-dark text-white px-lg-5 px-3">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../layouts/footer') %>
