<%- include('../layouts/header') %>

    <div class="container-fluid my-4 mx-0">

        <div class="col-lg-12 d-flex justify-content-center border-bottom">
            <div class="row my-3 mx-0 py-0 g-0 ">
                <div class="col-sm-12 mx-0 d-flex justify-content-center py-0 g-0">
                    <h5 class="mb-0">Check Out </h5>
                </div>
                
            </div>


        </div>

        <form action="/checkout-submit">

            <div class="row my-3 d-flex justify-content-center">
                <div class="col-lg-7 border-end border-bottom">
                    <% var subT=0%>
                        <% cartData.products.forEach(function(items){ %>
                            <div class="card-body mx-0 py-0 g-0">
                                <div class="row mx-0 py-0 g-0">
                                    <div class="col-sm-3 mx-0 py-0 g-0">
                                        <img src="/public/databaseimg/<%=items.productId.image[0]%>" width="50%"
                                            height="70%" alt="" id="image">
                                    </div>
                                    <div class="col-sm-3 text-secondary">
                                        <%=items.productId.name%>
                                    </div>
                                    <div class="col-sm-2 text-secondary">
                                        <%=items.productId.price%>
                                    </div>
                                    <div class="col-sm-2 text-secondary">
                                        <%=items.quantity%>
                                    </div>
                                    <% var addedNumber=items.productId.price * items.quantity;%>
                                        <div class="col-sm-2 text-secondary">₹<%=addedNumber%>
                                        </div>
                                        <% subT +=addedNumber%>
                                </div>
                                <hr>
                            </div>
                            <%})%>
                                <div class="card-body mx-0 py-0 g-0">
                                    <div class="row mx-0 py-0 g-0 justify-content-center">
                                        <h6 class="text-center">Sub Total = ₹<%=subT%>
                                        </h6>
                                    </div>
                                </div>

                </div>

                <div class="col-lg-5 border-bottom">
                    <div class="row my-3 mx-0 py-0 g-0">
                    <select class="py-2" name="address" onchange="displayAddress(this.value)" id="address">


                        <% userDetails.address.forEach(function(data,i){%>

                            <%if(data.stat==true){%>
                            <option value="<%=data._id%>" selected>Default - <%=data.fullAddress%>
                            </option>
                            <%}else{%>
                            <option value="<%=data._id%>">
                            <%=data.fullAddress%>
                            </option>
                            <%}%>
                        <%})%>

                    </select>
                    </div>
                 


                    <% userDetails.address.forEach(function(items,i){%>
                        <%if(items.stat==true){%>
                        <div class="row my-3 mx-0 py-0 g-0">
                            <div class="col-sm-3 mx-0 py-0 g-0">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div id="fullAdd" class="col-sm-9 text-secondary">
                                <%=items.fullAddress%>
                            </div>
                        </div>
                        <hr>
                        <div class="row mx-0 py-0 g-0">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Contact</h6>
                            </div>
                            <div id="contactAdd" class="col-sm-9 text-secondary">
                                <%=items.contact%>
                            </div>
                        </div>
                        <hr>
                        <div class="row mx-0 py-0 g-0">
                            <div  class="col-sm-3 mx-0 py-0 g-0">
                                <h6 class="mb-0">Name</h6>
                            </div>
                            <div id="nameAdd" class="col-sm-9 text-secondary">
                                <%=items.name%>
                            </div>
                        </div>
                        <hr>
                        <div class="row mx-0 py-0 g-0">
                            <div class="col-sm-3 mx-0 py-0 g-0">
                                <h6 class="mb-0">Pincode</h6>
                            </div>
                            <div id="pinAdd" class="col-sm-9 text-secondary">
                                <%=items.pincode%> 
                            </div>
                        </div>
                        <%}%>
                        <%})%>
                    
                

                </div>
                
            <div class="col-lg-6 my-3 ">
                <div class="row my-3">
                    <div class="col-md-12 my-3">
                       <h6>Please Enter Coupon Code</h6> 
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-md-9 my-3">
                       <input type="text" name="couponText" id="couponText" onkeyup="checkCoupon(this.value)" style="width: 100%;"> 
                    </div>
                    <div id="couponAlert" class="col-md-3 my-3">
                        Enter Code
                    </div>
                </div>


               </div>

               <div class="col-lg-6 ">
                <div class="row my-3">
                    <div class="col-md-12 my-3">
                       <h6>The Price and charges</h6> 
                    </div>
                </div>
                <div class="row my-3">
                    <div id="totalPrice" class="col-md-12 my-3">
                      Subtotal :  ₹<%=subT%> 
                    </div>
                </div>

                <div class="row my-3">
                    <div id="discountPrice" class="col-md-12 my-3">
                      discount :  ₹0 
                    </div>
                </div>

                <div class="row my-3">
                    <div id="finalPriced" class="col-md-12 my-3">
                      Total Payment :  ₹<%=subT%>
                    </div>
                </div>

               </div>



            </div>
        </form>


    </div>


    <script>
        
        function displayAddress(catId) {

          $.ajax({
            url: "/check-address",
            method: "patch",
            data: { cat: catId },
            success: (res) => {
              adds = res.data


              $('#fullAdd').html('');
              $('#nameAdd').html('');
              $('#contactAdd').html('');
              $('#pinAdd').html('');

              $('#fullAdd').html(adds[0].address);
              $('#nameAdd').html(adds[0].name);
              $('#contactAdd').html(adds[0].phone);
              $('#pinAdd').html(adds[0].pincode);
            }

          })
        }
      </script>

<script>
        
    function checkCoupon(catId) {

      $.ajax({
        url: "/check-coupon",
        method: "patch",
        data: { cat: catId },
        success: (res) => {
          adds = res.data
          console.log(adds)
         


         $('#couponAlert').html('');

         $('#couponAlert').html(adds);

         if(res.discount !=null){
            $('#totalPrice').html('');
            $('#totalPrice').html('SubTotal : '+res.price+'');
            $('#discountPrice').html('');
            $('#discountPrice').html('Coupon Discount : '+res.discountInit+'');
            $('#finalPriced').html('');
            $('#finalPriced').html('Total Payment : '+res.discount+'');
         }

        }

      })
    }
  </script>


    <%- include('../layouts/footer') %>