<%- include('../layouts/header') %>

    <div class="container-fluid my-4 mx-0">
        <%if(cartData.products[0] !=null){%>

            <div class="col-lg-12 d-flex justify-content-center border-bottom">
                <div class="row my-3 mx-0 py-0 g-0 ">
                    <div class="col-sm-12 mx-0 d-flex justify-content-center py-0 g-0">
                        <h5 class="mb-0">Check Out </h5>
                    </div>

                </div>


            </div>

            <form action="/checkout-submit" method="post" onkeydown="return event.key != 'Enter';">

                <div class="row my-3 d-flex justify-content-center">
                    <div class="col-lg-7 border-end border-bottom">
                        <% var subT=0%>
                            <% cartData.products.forEach(function(items){ %>
                                <div class="card-body mx-0 py-0 g-0">
                                    <div class="row mx-0 py-0 g-0">
                                        <div class="col-sm-3 mx-0 d-flex justify-content-center py-0 g-0">
                                            <img src="<%=items.productId.image[0].url%>" width="50%" height="70%" alt=""
                                                id="image">
                                        </div>
                                        <div class="col-sm-3 d-flex justify-content-center text-secondary">
                                            <%=items.productId.name%>
                                        </div>
                                        <div class="col-sm-2 d-flex justify-content-center text-secondary">
                                            <%=items.productId.price%>
                                        </div>
                                        <div class="col-sm-2 d-flex justify-content-center text-secondary">
                                            <%=items.quantity%>
                                        </div>
                                        <% var addedNumber=items.productId.price * items.quantity;%>
                                            <div class="col-sm-2 d-flex justify-content-center text-secondary">₹
                                                <%=addedNumber%>
                                            </div>
                                            <% subT +=addedNumber%>
                                    </div>
                                    <hr>
                                </div>
                                <%})%>
                                    <div class="card-body mx-0 py-0 g-0">
                                        <div class="row mx-0 py-0 g-0 justify-content-center ">
                                            <h6 class="text-center">Sub Total = ₹<%=subT%>
                                            </h6>
                                        </div>
                                    </div>

                    </div>

                    <div class="col-lg-5 border-bottom">
                        <div class="row my-3 mx-0 py-0 g-0">
                            <h5>Choose Address or Enter New Address</h5>
                            <select class="py-2" name="address" onchange="displayAddress(this.value)" id="address">
                                <option value="1" selected>Choose</option>

                                <% userDetails.address.forEach(function(data,i){%>

                                    <%if(data.stat==true){%>

                                        <option value="<%=data._id%>">Default - <%=data.fullAddress%>
                                        </option>
                                        <%}else{%>

                                            <option value="<%=data._id%>">
                                                <%=data.fullAddress%>
                                            </option>
                                            <%}%>
                                                <%})%>

                            </select>


                        </div>







                        <script>
                            function checkFields() {
                                var inputAddress = $('#fullAdd').val()
                                var inputContact = $('#contactAdd').val()
                                var inputName = $('#nameAdd').val()
                                var inputPin = $('#pinAdd').val()
                                if (inputAddress == "" || inputContact == "" || inputName == "" || inputPin == "") {
                                    $('#submit-checkout').css('pointer-events', 'none')
                                    $('#razorpay_method').css('pointer-events', 'none')
                                    
                                } else if (inputAddress != "" && inputContact != "" && inputName != "" && inputPin != "") {
                                    $('#submit-checkout').css('pointer-events', '')
                                    $('#razorpay_method').css('pointer-events', '')
                                }

                            }

                            window.onload = () => {
                                setInterval(() => {
                                    checkFields()
                                }, 1000);
                            }

                        </script>

                        <div class="row my-3 mx-0 py-0 g-0">
                            <div class="col-sm-3 mx-0 py-0 g-0">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input id="fullAdd" name="fullAdd" type="text" value="" style="width: 100%;">
                            </div>
                        </div>
                        <hr>
                        <div class="row mx-0 py-0 g-0">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Contact</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input id="contactAdd" name="contactAdd" type="text" value="" style="width: 100%;">
                            </div>
                        </div>
                        <hr>
                        <div class=" row mx-0 py-0 g-0">
                            <div class="col-sm-3 mx-0 py-0 g-0">
                                <h6 class="mb-0">Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" id="nameAdd" name="nameAdd" value="" style="width: 100%;">
                            </div>
                        </div>
                        <hr>
                        <div class=" row mx-0 py-0 g-0">
                            <div class="col-sm-3 mx-0 py-0 g-0">
                                <h6 class="mb-0">Pincode</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" id="pinAdd" name="pinAdd" value="" style="width: 100%;">
                            </div>
                        </div>





                    </div>

                    <div class=" col-lg-7 my-3 border-end">
                        <div class="row my-3">
                            <div class="col-md-12 my-3">
                                <h6>Please Enter Coupon Code</h6>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-md-5 my-3">
                                <input type="text" name="couponText" id="couponText" onkeyup="checkCoupon(this.value)"
                                    style="width: 100%;">
                            </div>
                            <div id="couponAlert" class="col-md-7 d-flex justify-content-center my-3">
                                Enter Code
                            </div>

                        </div>


                    </div>

                    <div class="col-lg-5">
                        <div class="row my-3">
                            <div class="col-md-12 d-flex justify-content-center my-3">
                                <h5>The Price and charges</h5>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div id="totalPrice" class="col-md-12 d-flex justify-content-center my-3">
                                Subtotal : ₹<%=subT%>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div id="discountPrice" class="col-md-12 d-flex justify-content-center my-3">
                                discount : ₹0
                            </div>
                        </div>

                        <div class="row my-3">
                            <div id="finalPriced" class="col-md-12 d-flex justify-content-center my-3">
                                Total Payment : ₹<%=subT%>
                            </div>
                        </div>

                    </div>


                    <div class="col-lg-12 d-flex justify-content-between flex-column border-top my-2 py-3">

                        <center class="mb-2" style="font-size: x-large;">Choose Payment method</center>

                        <div class="d-flex justify-content-center mb-3 ">
                            <div class="custom-control custom-radio mx-2">
                                <input id="credit" name="paymentMethod" value="COD" type="radio"
                                    class="custom-control-input" checked required>
                                <label class="custom-control-label" for="credit">Cash On
                                    Delivery</label>
                            </div>
                            <!-- <div class="custom-control custom-radio">
                          <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                          <label class="custom-control-label" for="debit">Debit card</label>
                        </div> -->
                            <div class="custom-control custom-radio">
                                <input id="paypal" name="paymentMethod" type="radio" value="PayPal"
                                    class="custom-control-input" required>
                                <label class="custom-control-label" for="paypal">PayPal</label>
                            </div>
                        </div>

                        <span class="text-center">
                            <button id="submit-checkout" type="submit" class="mx-auto btn btn-dark w-50 py-2 px-3 my-3"
                                onclick="return confirm('Proceed to order?')">Proceed to
                                Order</button>
                        </span>

                    </div>








                </div>
            </form>
            
            <div class="col-lg-12 text-center">
                <center class="my-3" style="font-size: x-large;">Or</center>
                <center class="my-3" style="font-size: large;">Pay Using RazorPay</center>
                <button id="razorpay_method" class="border-0 my-3" onclick="initPayment()" class=""><span> <img width="5%" height="5%" src="https://d6xcmfyh68wv8.cloudfront.net/assets/razorpay-glyph.svg" alt=""></span>RazorPay</button>
            </div>
            


            <script>
                function initPayment() {
                    var couponText= $('#couponText').val()
                    var inputAddress = $('#fullAdd').val()
                    var inputContact = $('#contactAdd').val()
                    var inputName = $('#nameAdd').val()
                    var inputPin = $('#pinAdd').val()
                   
                        $.ajax({
                            type: 'POST',
                            url: '/razor_pay',
                            data: {couponText,inputAddress,inputContact,inputName,inputPin},
                            success: (response) => {
                                if (response.fail) {
                                    location.href = "/checkout";
                                } else {
                                    let order = response.order
                                    let orderDetails = response.newOrder
                                    razorPay(order, orderDetails);
                                }
                            }
                        });
                   
                }

                function razorPay(order, orderDetails) {
                    var options = {
                        "key": "rzp_test_sUDKggaDF9cOmw", // Enter the Key ID generated from the Dashboard
                        "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                        "currency": "INR",
                        "name": "RSVP FASHION",
                        "description": "Test Transaction",
                        "image": "https://example.com/your_logo",
                        "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                        "handler": function (response) {
                            verifyPayment(response, order, orderDetails)
                        },
                        "prefill": {
                            "name": "RSVP.CO",
                            "email": "rsvp@gmail.com",
                            "contact": "9999999999"
                        },
                        "notes": {
                            "address": "Razorpay Corporate Office"
                        },
                        "theme": {
                            "color": "#3399cc"
                        }
                    };
                    var rzp1 = new Razorpay(options);
                    rzp1.on('payment.failed', function (response) {
                        location.href = "/checkout";
                    });
                    rzp1.open()

                }


                function verifyPayment(payment, order, orderDetails) {

                    $.ajax({
                        url: "/verify_Payment",
                        data: {
                            payment,
                            order,
                            orderDetails
                        },
                        method: "post",
                        success: (response) => {
                            if (response.success) {
                                location.href = "/check-payment";
                            } else {
                                location.href = "/checkout";
                            }
                        },
                    });
                }
                
            </script>


            <%}else{%>

                <center>No items in the Cart</center>

                <%}%>


    </div>


    <script>

        function displayAddress(catId) {
            if (catId != 1) {
                $.ajax({
                    url: "/check-address",
                    method: "patch",
                    data: { cat: catId },
                    success: (res) => {
                        adds = res.data


                        $('#fullAdd').val('');
                        $('#nameAdd').val('');
                        $('#contactAdd').val('');
                        $('#pinAdd').val('');

                        $('#fullAdd').val(adds[0].address);
                        $('#nameAdd').val(adds[0].name);
                        $('#contactAdd').val(adds[0].phone);
                        $('#pinAdd').val(adds[0].pincode);
                    }

                })
            }
        }
    </script>

    <script>

        function checkCoupon(catId) {

            $.ajax({
                url: "/check-coupon",
                method: "patch",
                data: { cat: catId },
                success: (res) => {
                    adds = res.data



                    $('#couponAlert').html('');

                    $('#couponAlert').html(adds);

                    if (res.discount != null) {
                        $('#totalPrice').html('');
                        $('#totalPrice').html('SubTotal : ' + res.price + '');
                        $('#discountPrice').html('');
                        $('#discountPrice').html('Coupon Discount : -' + res.discountInit + '  (' + res.finalPrice + '% off)');
                        $('#finalPriced').html('');
                        $('#finalPriced').html('Total Payment : ' + res.discount + '');
                    } else {
                        $('#totalPrice').html('');
                        $('#totalPrice').html('SubTotal : ' + res.price + '');
                        $('#discountPrice').html('');
                        $('#discountPrice').html('Coupon Discount : 0');
                        $('#finalPriced').html('');
                        $('#finalPriced').html('Total Payment : ' + res.price + '');
                    }

                }

            })
        }
    </script>


    <%- include('../layouts/footer') %>