<%- include('../layouts/header') %>

  <div class="container-fluid g-0">
    <% if(details !=null) { %>
      <div id="demo" class="carousel slide p-0 m-0" data-ride="carousel" data-bs-interval="3000">
        <ul class="carousel-indicators">
          <li data-target="#demo" hidden data-slide-to="0" class="active"></li>
          <% for(i=1;i<=details.length ; i++){ %>

            <li data-target="#demo" hidden data-slide-to="<%=i%>"></li>

            <% } %>
        </ul>
        <div class="carousel-inner p-0 m-0" >
          <div class="carousel-item active" >
            <div class="d-flex justify-content-center" style="width: 100%; ">
              <img class="mx-4" src="/public/databaseimg/1672386014107-Screenshot 2022-12-30 123636.png" alt="slide one"width="100%" >
            </div>
           
          </div>

          <% details.forEach(function(item){ %>
            <div class="carousel-item p-0 m-o" style="align-items: center;">
              <div class="d-flex justify-content-center" style="width: 100%; ">
                <img class="mx-4" src="/public/databaseimg/<%=item.image%>" alt="" width="100%" >
              </div>
              
            </div>
            <% }) %>

        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          
        </a>
      </div>
      <% } %>



  </div>

  <div class="container-fluid py-4">
    <% if(categories !=null) { %>
    
    <div class="row">
      <% categories.forEach(function(data){ %>
      
          <div class="col-lg-6 d-flex justify-content-center">

            <div class="card" style="width: 100%;">
              <img src="/public/databaseimg/<%= data.image %>" class="card-img-top" alt="...">
              <div class="card-body">
                <center class="card-title" style="font-size: larger; font-weight: bold;"><%=data.name%></center>
                
                <a href="/shop/?id=<%= data._id%>" class="btn btn-dark p-2">Browse</a>
              </div>
            </div>
          </div>
        <% }) %>
      <% } %>
         
    </div>
  </div>

  <%- include('../layouts/footer') %>