<%- include('../layouts/header') %>

<div class="container-fluid">
    <div class="container text-center my-3">
        <h1>Thank you.</h1>
        <p class="lead w-lg-50 mx-auto">Your order has been placed successfully.</p>
        <p class="w-lg-50 mx-auto">Your order number is <a><b><%=newOrder._id%></b></a>. We will immediatelly process your and it will be delivered in 2 - 5 business days.</p>
        <a href="/order-detail/?id=<%=newOrder._id%>" class="btn btn-dark">Show Order Details</a>
    </div>
    <div class="container">
        <h2 class="h5 mb-5 text-center">You may also like these products</h2>
        <div class="row">
            <% wishData.products.forEach(function(items){%>
            <div class="col-lg-3">
                <div class="card text-center mb-3">
                    <div class="py-5 px-4">
                        <img src="<%=items.image[0].url%>" alt="" class="img-fluid mb-4" />
                        <h3 class="fs-6 text-truncate"><a href="#" class="stretched-link text-reset"><%=items.name%></a></h3>
                        <span class="text-success"><%=items.price%></span> <del class="text-muted"></del>
                    </div>
                    
                </div>
            </div>
            <%})%>
        </div>
        <div class="row justify-content-center">
            <a href="/shop" class="btn btn-dark">Shop More</a>
            
        </div>
        
    </div>
</div>

<%- include('../layouts/footer') %>
