<%- include('../layouts/header') %>


    <div class="container-fluid">
        <div class="row mx-0 py-0 g-0">

            <div class="col-lg-4 mx-0 py-0 g-0 d-flex justify-content-center">
                <div class="d-flex flex-column flex-shrink-0 p-3 justify-content-center border rounded" style="width: 280px;">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                        <svg class="bi pe-none me-2" width="40" height="32">
                            <use xlink:href="#bootstrap"></use>
                        </svg>
                        <span class="fs-4">Account</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="/user-profile" class="nav-link link-dark" aria-current="page">
                                <svg class="bi pe-none me-2" width="16" height="16">
                                    <use xlink:href="#home"></use>
                                </svg>
                                Profile
                            </a>
                        </li>
                        <li>
                            <a href="/user-address" class="nav-link  link-dark ">
                                <svg class="bi pe-none me-2" width="16" height="16">
                                    <use xlink:href="#speedometer2"></use>
                                </svg>
                                Address
                            </a>
                        </li>
                        <li>
                            <a href="/orders" class="nav-link active">
                                <svg class="bi pe-none me-2" width="16" height="16">
                                    <use xlink:href="#table"></use>
                                </svg>
                                Orders
                            </a>
                        </li>
    
                        <li>
                            <a href="/logout" class="nav-link link-danger">
                                <svg class="bi pe-none me-2" width="16" height="16">
                                    <use xlink:href="#people-circle"></use>
                                </svg>
                                Logout
                            </a>
                        </li>
                    </ul>
                    <hr>
    
    
    
                </div>
            </div>
    
            <div class="col-lg-8 mx-0 px-0 g-0 justify-content-center">


                <%if(orderDetails!=null){%>
                    <div class="container"  id="printData">
                    
                    <div class="row text-center d-flex justify-content-center">
                        <p class="" style="font-size: 2rem;" >
                        RSVP
                        </p>
                        <div class="row py-4 mx-0 py-0 g-0">
                            <h4>Order Details</h4>
                        </div>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <li><b>Date and Time : </b></li>
                                </div>
                                <div class="col-lg-8">
                                    <li>
                                        <%=orderDetails.date%>
                                    </li>
                                </div>
                            </div>

                        </div>
                        <br>

                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <li><b>Order Id : </b></li>
                                </div>
                                <div class="col-lg-8">
                                    <li>
                                        <%=orderDetails._id%>
                                    </li>
                                </div>
                            </div>

                        </div>
                        <br>


                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <li><b>Products x Quantity:</b></li>

                                </div>

                                <div class="col-lg-8">

                                    <%orderDetails.product.forEach(function(items){ %>
                                        <li>
                                            <%=items.productId.name%> x <%=items.qtyItems%>
                                        </li><br>

                                        <%})%>

                                </div>

                            </div>



                        </div>

                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <li><b>Coupon Applied : </b></li>
                                </div>
                                <div class="col-lg-8">
                                    <li>
                                        <%=orderDetails.coupon%>
                                    </li>
                                </div>
                            </div>

                        </div>
                        <br>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <li><b>Total Cart Value : </b></li>
                                </div>
                                <div class="col-lg-8">
                                    <li>
                                        ₹<%=orderDetails.Totalprice%>
                                    </li>
                                </div>
                            </div>

                        </div>
                        <br>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <li><b>Total Discount : </b></li>
                                </div>
                                <div class="col-lg-8">
                                    <li>
                                        ₹<%=orderDetails.discount%>
                                    </li>
                                </div>
                            </div>

                        </div>
                        <br>

                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <li><b>Total Payment : </b></li>
                                </div>
                                <div class="col-lg-8">
                                    <li>
                                        ₹<%=orderDetails.finalPrice%>
                                    </li>
                                </div>
                            </div>

                        </div>
                        <br>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <li><b>Address : </b></li>
                                </div>
                                <div class="col-lg-8">
                                    <li>
                                        <%=orderDetails.address[0].name%><br>
                                            <%=orderDetails.address[0].fullAddress%><br>
                                                <%=orderDetails.address[0].contact%><br>
                                                    <%=orderDetails.address[0].pincode%>
                                    </li>
                                </div>
                            </div>

                        </div>
                        <br>

                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <li><b>Payment Type : </b></li>
                                </div>
                                <div class="col-lg-8">
                                    <li>
                                        <%=orderDetails.orderType%>
                                    </li>
                                </div>
                            </div>

                        </div>
                        <br>

                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <li><b>Order Status : </b></li>
                                </div>
                                <div class="col-lg-8">
                                    <li id="stat">
                                        <%if(orderDetails.status=='placed'){%>Order Placed<%}else{%>
                                                <%=orderDetails.status%>
                                                    <%}%>
                                    </li>
                                </div>
                            </div>

                        </div>
                        <br>


                        <%}else{%>
                            <div class="row">
                                Not Available
                            </div>

                            <%}%>



                    </div>
                </div>

                    <div class="col-lg-12 my-4">
                        <div class="row justify-content-between">

                            <%let date=orderDetails.date %>
                                <%let isoString=date.toISOString()%>
                                    <%let newDate=isoString.split('T')[0]%>




                                        <%const returnPeriod=10%>
                                            <%const purchaseDate=new Date( newDate);%>
                                                <%const expirationDate=new Date(purchaseDate);%>
                                                    <%expirationDate.setDate(expirationDate.getDate() + returnPeriod);%>
                                                        <%=console.log(expirationDate)%>


                                                            <div class="col-lg-3 d-flex justify-content-center">
                                                                <li id="cbutton">
                                                                    <%if(orderDetails.status=='cancelled' ||
                                                                        orderDetails.date> expirationDate){%>
                                                                        <button class="btn btn-dark py-2 px-3"
                                                                            disabled>Cancelled</button>
                                                                        <%} else {%>

                                                                            <button class="btn btn-dark py-2 px-3"
                                                                                onclick="removeStat('<%= orderDetails._id %>')">Cancel Order</button>
                                                                            <%}%>
                                                                </li>
                                                            </div>
                                                            <div class="col-lg-3 d-flex justify-content-center">
                                                                <li>
                                                                    <button class="btn btn-dark py-2 px-3"
                                                                        onclick="printOrder('printData')">Print
                                                                        Bill</button>
                                                                </li>
                                                            </div>
                        </div>

                    </div>

            </div>


            <script>

                function removeStat(id) {
                    $.ajax({
                        url: "/cancel-order",
                        method: "patch",
                        data: { id: id },
                        success: (res) => {
                            adds = res.data
                            $('#stat').html('');
                            $('#cbutton').html('');
                            if(adds== 'cancelled'){
                            $('#stat').html('Cancelled');
                            $('#cbutton').html('<button class="btn btn-dark py-2 px-3" disabled>Cancelled</button>');
                            }
                        }

                    })
                }

            </script>



            <script>
                function printOrder(divName) {
                   
                    var printContents = document.getElementById(divName).innerHTML;
                    var originalContents = document.body.innerHTML;

                    document.body.innerHTML = printContents;

                    window.print();

                    document.body.innerHTML = originalContents;
                }
            </script>


        </div>

    </div>




    <%- include('../layouts/footer') %>