<%- include('../layouts/header') %>
	<!-- <<<<<<<<<  Header  = (End) <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
	<!-- ==========  X Zoom  = (Start) ======================================================= -->
	<section class="xzoom_part">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="xzoom_container">
						<img src="/public/databaseimg/<%=products[0]%>" width="460" height="380" alt="" class="xzoom"
							id="xzoom-default">
						<div class="xzoom-thumbs">
							<a href="/public/databaseimg/<%=products[0]%>">
								<img src="/public/databaseimg/<%=products[0]%>" alt="" class="xzoom-gallery" width="80"
									xpreview="/public/databaseimg/<%=products[0]%>">
							</a>
							<a href="/public/databaseimg/<%=products[1]%>">
								<img src="/public/databaseimg/<%=products[1]%>" alt="" class="xzoom-gallery" width="80">
							</a>
							<a href="/public/databaseimg/<%=products[2]%>">
								<img src="/public/databaseimg/<%=products[2]%>" alt="" class="xzoom-gallery" width="80">
							</a>
							<a href="/public/databaseimg/<%=products[3]%>">
								<img src="/public/databaseimg/<%=products[3]%>" alt="" class="xzoom-gallery" width="80">
							</a>
							<a href="/public/databaseimg/<%=products[4]%>">
								<img src="/public/databaseimg/<%=products[4]%>" alt="" class="xzoom-gallery" width="80">
							</a>
							<a href="/public/databaseimg/<%=products[5]%>">
								<img src="/public/databaseimg/<%=products[5]%>" alt="" class="xzoom-gallery" width="80">
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="xzoom_details">
						<h4>
							<%= others.name %>
						</h4>
						<h5> Price :₹<%= others.price %>
						</h5>

						<h6>
							<%= others.description %>
						</h6>

						<h6>Stock :<%= others.stock %>
						</h6>


						<a href="/add-cart/?id=<%= others._id%>" class="btn"> Add To Cart </a>

						<a href="/check-out/?id=<%= others._id%>" class="btn"> Check Out </a>
						<% if (wishDetails==null) { %>
							<a class="text-dark" href="/add-wish-list/?id=<%= others._id%>"><i
									class="fa fa-heart text-grey" aria-hidden="true">
									Wishlist</i></a>
							<%}else{%>
								<a class="text-dark" href="/remove-wish-list/?id=<%= others._id%>"><i
										class="fa fa-heart text-danger" aria-hidden="true">
										Wishlist</i></a>
								<% } %>

					</div>



				</div>
			</div>
		</div>
	</section>
	<!-- ==========  X Zoom  = (End) ======================================================= -->
	<%- include('../layouts/footer') %>