<%- include('../layouts/header') %>
  <div class="container">
    <div class="row my-4">
      <div class="col-12 d-flex flex-column">
        <a style="text-decoration: underline;font-size: x-large;">Shop Page</a>

        <a class="py-3 " style="text-decoration: underline; font-size: medium;">
          <%=locals.category%>
        </a>


      </div>


    </div>

  </div>

  <div class="container">
    <% if(product.status !=false) { %>

      <div class="row">

        <!-- Filter sort grid -->
        <div class="col-md-3">
          <section class="py-4">
            <span class="h4">Filter</span>
          </section>
          <section>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button text-dark" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Category
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body ">
                    <div class="row">

                      <!-- choices category -->

                      <% if(categories !=null) { %>
                        <% categories.forEach(function(stuff){ %>
                          <div class="col-12">
                            <a class="text-dark" href="/shop/?id=<%= stuff._id %>">
                              <span><i class="bi bi-arrow-right"></i></span>
                              <%= stuff.name %>
                            </a>
                          </div>
                          <% }) %>
                            <% } %>

                    </div>



                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Color
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                      <div class="row">

                        <!-- choices category -->

                        <% if(colors !=null) { %>
                          <% colors.forEach(function(pcolor){ %>
                            <div class="col-12">
                              <a class="text-dark" href="/shop/?idPro=<%= pcolor._id %>">
                                <span><i class="bi bi-arrow-right"></i></span>
                                <%= pcolor.color %>
                              </a>
                            </div>
                            <% }) %>
                              <% } %>

                      </div>


                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Avilability
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">


                      <div class="row">

                        <!-- choices category -->

                        

                          <div class="col-12">
                            <a class="text-dark" href="/shop/?idStock=inStock">
                              <span><i class="bi bi-arrow-right"></i></span>
                              In stock
                            </a>
                          </div>

                       

                            <div class="col-12">
                              <a class="text-dark" href="/shop/?idStock=outStock">
                                <span><i class="bi bi-arrow-right"></i></span>
                                Out of stock
                              </a>
                            </div>


                      </div>





                    </div>
                  </div>
                </div>
              </div>
          </section>


        </div>


        <div class="col-md-9">
          <div class="row">
            <% product.forEach(function(data){ %>

              <div class="col-lg-4 d-flex justify-content-center p-4">

                <div class="card" style="width: 100%;">
                  <img src="/public/databaseimg/<%= data.image[0] %>" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">
                      <%=data.name%>
                    </h5>
                    <p>Stock : <%=data.stock%></p>
                    

                    <a href="/product-page/?id=<%= data._id%>" class="btn btn-dark my-2">View Product</a>
                   
                  </div>
                </div>
              </div>
              <% }) %>
                <% } %>

          </div>
        </div>
      </div>
  </div>

  <%- include('../layouts/footer') %>