<%- include('../layouts/header') %>
	<!-- <<<<<<<<<  Header  = (End) <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
	<!-- ==========  X Zoom  = (Start) ======================================================= -->
	<section class="xzoom_part">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="xzoom_container">
						<img src="<%=products[0].url%>" width="500" height="380" alt="" class="xzoom"
							id="xzoom-default">
						<div class="xzoom-thumbs">
							<a href="<%=products[0].url%>">
								<img src="<%=products[0].url%>" alt="" class="xzoom-gallery" width="80"
									xpreview="<%=products[0].url%>">
							</a>
							<a href="<%=products[1].url%>">
								<img src="<%=products[1].url%>" alt="" class="xzoom-gallery" width="80">
							</a>
							<a href="<%=products[2].url%>">
								<img src="<%=products[2].url%>" alt="" class="xzoom-gallery" width="80">
							</a>
							<a href="/<%=products[3].url%>">
								<img src="<%=products[3].url%>" alt="" class="xzoom-gallery" width="80">
							</a>
							<a href="<%=products[4].url%>">
								<img src="<%=products[4].url%>" alt="" class="xzoom-gallery" width="80">
							</a>
							<a href="<%=products[5].url%>">
								<img src="<%=products[5].url%>" alt="" class="xzoom-gallery" width="80">
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="xzoom_details">
						<center class="card-title" style="font-size: larger; font-weight: bolder;">
							<%= others.name %>
						</center>
						<center style="font-size: larger;"> Price :₹<%= others.price %>
						</center>

						<center>
							<%= others.description %>
						</center>

						<center><h6>Stock :<%= others.stock %>
						</h6></center>

						<% if (others.stock >0) { %>
						<center><a href="/add-cart/?id=<%= others._id%>" class="btn"> Add To Cart </a></center>
						
						<%}else{%>
						<center><a href="/add-cart/?id=<%= others._id%>" class="btn disabled"> Add To Cart </a></center>
						<% } %>
						
						<% if (wishDetails==null) { %>
						<center><a class="text-dark" href="/add-wish-list/?id=<%= others._id%>"><i
									class="fa fa-heart text-grey" aria-hidden="true">
									Wishlist</i></a></center>
							<%}else{%>
							<center><a class="text-dark" href="/remove-wish-list/?id=<%= others._id%>"><i
										class="fa fa-heart text-danger" aria-hidden="true">
										Wishlist</i></a></center>
								<% } %>

					</div>



				</div>
			</div>
		</div>
	</section>
	<!-- ==========  X Zoom  = (End) ======================================================= -->
	<%- include('../layouts/footer') %>