<%- include('../layouts/header') %>


    <div class="cart-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-none d-md-block">
                    <div class="row ">
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-6">Product</div>
                                <div class="col-md-6"></div>
                            </div>

                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-3">Unit Price</div>
                                <div class="col-md-3">Stock</div>
                                <div class="col-md-3">Add Cart</div>
                                <div class="col-md-3">Delete</div>
                            </div>

                        </div>

                    </div>
                </div>
                <% if(wishData!=null && wishData.products.length>0) {%>
                    <% wishData.products.forEach(function(item){ %>
                    <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-5 my-3">
                                    <div class="row">
                                        <div class="col-md-6 d-flex justify-content-center">

                                            <img src="<%= item.image[0].url %>" alt=""
                                                class=""  height="80%" width="60%">

                                        </div>
                                        <div class="col-md-6 d-flex justify-content-center">
                                           <center><%= item.name %></center> 
                                        </div>

                                    </div>

                                </div>
                                <div class="col-md-7 my-3">
                                    <div class="row">
                                        <div class="col-md-3 d-flex justify-content-center my-2"><p>₹<%= item.price %></p>
                                        </div>
                                        <% if(item.stock> 0) {%>
                                        <div class="col-md-3 d-flex justify-content-center my-2">
                                            <p class="rounded text-light" style="background-color: green;">In Stock
                                            </p>
                                        </div>
                                        <div class="col-md-3 d-flex justify-content-center my-2"><a href="/add-cart/?id=<%=item._id%>"><button
                                                    class="round-black-btn small-btn">Add to Cart</button></a></div>
                                        <%}else{%>
                                        <div class="col-md-3 d-flex justify-content-center my-2">
                                            <p class="rounded text-light" style="background-color: red ;">Out of Stock</p>
                                        </div>
                                        <div class="col-md-3 d-flex justify-content-center my-2"><button class="round-black-btn small-btn btn-light " disabled>Add to Cart</button></div>

                                        <%}%>
                                         <div class="col-md-3 d-flex justify-content-center my-2"><a href="/remove-wish-list/?id=<%=item._id%>" class="trash-icon"><i class="far fa-trash-alt"></i>Remove</a></div>
                                    </div>

                                </div>

                               

                            </div>
                        </div>

                        <%})%>
                        <%}%>
            </div>
        </div>
    </div>




    <%- include('../layouts/footer') %>